@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (Model.CurrentUser != null)
    {
        <div class="user-profile">
            
            <h3>Welcome, @Model.CurrentUser.FullName!</h3>
            <p>Credit Card Num: @Model.CurrentUser.CreditCardNo</p>
            <p>Gender: @Model.CurrentUser.Gender</p>
            <p>Mobile: @Model.CurrentUser.MobileNumber</p>
            <p>Delivery Address: @Model.CurrentUser.DeliveryAddress</p> 
            <p>Email Address: @Model.CurrentUser.Email</p>
            <p>Password: @Model.CurrentUser.PasswordHash</p>
            <p>About me: @Model.CurrentUser.AboutMe</p>
        </div>
    }
</div>
